.index-wrapper
  .row.title
    %h1
      MoMA Dearest

  - @art_pieces.each do |a|
    .col-xs-4.img-wrapper
      .front
        -if a.moma_url
          <img src="http://#{a.moma_url}">
        -else
          =image_tag "moma_logo.jpeg"
      .back
        %h2= a.title
        %h3
          Artist: 
          = a.artist
  = paginate @art_pieces

:javascript 
  $(".img-wrapper").flip();
